<!DOCTYPE html>
<html lang="en">

{{> head }}

<body>

{{> nav }}

{{> aboutp}}

  {{> footer }}

<!-- MAIN CONTENT STARTS HERE -->

          {{> home }}

      

<!-- MAIN CONTENT ENDS HERE -->

{{>scripts}}

</body>

</html>
