<!DOCTYPE html>
<html lang="en">

{{> head }}

<body>

{{> nav }}

{{> contact}} 
<!--THIS USED TO BE {homepart1} -->

  {{> footer }}

<!-- MAIN CONTENT STARTS HERE -->

          {{> home }}

      

<!-- MAIN CONTENT ENDS HERE -->

{{>scripts}}

</body>

</html>
