<!DOCTYPE html>
<html lang="en">

{{> head }}

<body id="page-top">

{{> nav }}

<div class="container mt-5 pt-5">
<h1 class="mt-5 pt-5">PAGE NOT FOUND</h1>
<a href="/">Go Back to the home page</a>
</div>



{{>scripts}}

</body>

</html>
