<!DOCTYPE html>
<html lang="en">

{{> head }}

<body id="page-top">

{{> nav }}

{{> shopmain }}


<div class="container">
    <h1>Shop Now</h1>
</div>

  {{> footer }}


{{>scripts}}

</body>

</html>
