*:focus{
    color: #495057;
    border-color: #80bdff !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25) !important;
}

.btn-wilfred {

    color: #fff;
    /* background-color: #343a40; */
    background: linear-gradient(rgba(30,30,30,.9),rgba(50,50,50,1));
    transition: all 2s;
}

.btn-wilfred:hover {
    color: #fff;
    background: linear-gradient(rgba(236, 41, 26, 0.86),rgba(236, 41, 26, 1));
}
nav#mainNav {
    background-color: rgba(165, 22, 49, 0.99);
}

button.nav-link.badge.badge-dark.btn {
    /* background-color: firebrick; */
    background-color: rgba(195, 65, 25, 0.7);
    vertical-align: text-top;
    margin-left: 10px;
    transition: all 1s;
}

button.nav-link.badge.badge-dark.btn:hover {
    background-color: #343a40;
}


.postheader{
    height: 250px;
}

img[src="#"] {
    display: none;
    visibility: hidden;
}

nav#mainNav {
    background: linear-gradient(rgba(30,30,30,.9),rgba(50,50,50,1));
    /* background-color: rgba(165, 22, 49, 0.99); */
}

.postheader{
    height: 250px;
}

img[src="#"] {
    display: none;
    visibility: hidden;
}

#editor-container {
    height: 375px;
  }

  .fr-view {
    background-color: #fff;
    border: 1px solid #012;
    border-radius: 4px 4px;
    height: 100px;
  }

  section#page-top {
    margin: 0;
    padding: 0;
}

.fr-sticky-dummy {
    height: 0px !important;
}

.fr-toolbar.fr-desktop.fr-top.fr-basic.fr-sticky-off {
    align-items: stretch;
    /* align-content: space-evenly; */
    display: flex;
    flex-flow: wrap;
}
.fr-view {
    height: auto;
}

.profile-image{
    width: 300px;
    height: 300px;
}

@media only screen and (min-width: 992px) {
    .nav-scroll {
        height: 60px;
    }
}


.nav-scroll {
    transition: all 3s;
    background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,.9));
}